# Miscellaneous Hudson litter

*.log
*.tmp
*.old
*.bak
*.jar
*.json

# Generated Hudson state
jenkins_home/.owner
jenkins_home/secret.key
jenkins_home/queue.xml
jenkins_home/fingerprints/
jenkins_home/shelvedProjects/
jenkins_home/updates/
jenkins_home/init.groovy.d/
jenkins_home/secrets
jenkins_home/war
jenkins_home/logs
jenkins_home/users
jenkins_home/hudson.plugins.git.GitSCM.xml
jenkins_home/identity.key.enc
jenkins_home/hudson.tasks.Mailer.xml
jenkins_home/config-history/
jenkins_home/credentials.xml
jenkins_home/aws-credentials.sh
jenkins_home/yardstick-key.pem
jenkins_home/credentials.xml


hudson.plugins.disk_usage.DiskUsageProjectActionFactory.xml
hudson.plugins.disk_usage.DiskUsageProperty.xml
jenkins.plugins.slack.SlackNotifier.xml
jenkins.plugins.slack.webhook.GlobalConfig.xml
com.tikal.jenkins.plugins.multijob.PhaseJobsConfig.xml
envInject.xml
envinject-plugin-configuration.xml
org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder.xml
org.jvnet.hudson.plugins.m2release.M2ReleaseBuildWrapper.xml
jenkins_home/hudson.plugins.copyartifact.TriggeredBuildSelector.xml
jenkins_home/hudson.plugins.s3.S3BucketPublisher.xml
jenkins_home/jenkins.plugins.displayupstreamchanges.DisplayUpstreamChangesRecorder.xml
jenkins_home/jenkins.plugins.http_request.HttpRequest.xml
jenkins_home/org.jenkins_ci.plugins.flexible_publish.FlexiblePublisher.xml

hudson.maven.MavenModuleSet.xml
hudson.scm.CVSSCM.xml
hudson.scm.SubversionSCM.xml
hudson.tasks.Ant.xml
hudson.plugins.build_timeout.operations.BuildStepOperation.xml
hudson.plugins.emailext.ExtendedEmailPublisher.xml
jobConfigHistory.xml
org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration.xml


disk-usage.xml

modules
*.pinned

# Tools that Hudson manages
jenkins_home/tools/

# Extracted plugins
jenkins_home/plugins/*/

# Job state
builds/
workspace/
lastStable
lastSuccessful
nextBuildNumber

m2
m2_release
workspaces
*~

.idea
*.iml
.m2_release

m2_release_xap
xap_scripts/release-xap-setenv.sh
jenkins-release/setenv.sh
