<STYLE>
BODY, TABLE, TD, TH, P {
  font-family:Verdana,Helvetica,sans serif;
  font-size:11px;
  color:black;
}
h1 { color:black; }
h2 { color:black; }
h3 { color:black; }
TD.bg1 { color:white; background-color:#0000C0; font-size:120% }
TD.bg2 { color:white; background-color:#4040FF; font-size:110% }
TD.bg3 { color:white; background-color:#8080FF; }
TD.test_passed { color:blue; }
TD.test_failed { color:red; }
TD.console { font-family:Courier New; }
</STYLE>
<BODY>

<%
def xapVersion = build.getEnvironment(listener).get("GS_VERSION")
def gsProduct = build.getEnvironment(listener).get("GS_PRODUCT")
def timestamp = build.getEnvironment(listener).get("TIMESTAMP")
%>

<TABLE>
    <TR><TD align="right"><IMG SRC="https://raw.githubusercontent.com/jenkinsci/jenkins/master/war/src/main/webapp/images/32x32/<%= build.result.toString() == 'SUCCESS' ? "blue.gif" : build.result.toString() == 'FAILURE' ? 'red.gif' : 'yellow.gif' %>" />
    </TD><TD valign="center"><B style="font-size: 200%;">BUILD ${build.result}</B></TD></TR>
    <TR><TD>URL</TD><TD><A href="${rooturl}${build.url}">${rooturl}${build.url}</A></TD></TR>
    <TR><TD>Project:</TD><TD>${project.name}</TD></TR>
    <TR><TD>Date:</TD><TD>${it.timestampString}</TD></TR>
    <TR><TD>Duration:</TD><TD>${build.durationString}</TD></TR>
    <TR><TD>Cause:</TD><TD><% build.causes.each() { cause -> %> ${cause.shortDescription} <%  } %></TD></TR>
</TABLE>

<BR/>

<BR/>

<TABLE>
    <TR><TD valign="center"><B style="font-size: 150%;">Dependency Check - ${gsProduct} ${xapVersion}</B></TD></TR>
    <TR><TD valign="center"><B style="font-size: 150%;">Dependency Check - ${timestamp}</B></TD></TR>
    <TR><TD><A href="https://dependency-check-results.s3.us-east-2.amazonaws.com/dependency-check-results/${gsProduct}/${xapVersion}/dependency-check-report.html">${xapVersion}/Results</A></TD></TR>
</TABLE>