<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NEXT_XAP_VERSION</name>
          <description></description>
          <defaultValue>14.2.0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CURRENT_MILESTONE</name>
          <description></description>
          <defaultValue>ga</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NEXT_MILESTONE</name>
          <description></description>
          <defaultValue>m1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NEXT_XAP_BUILD_NUMBER</name>
          <description></description>
          <defaultValue>20400</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MILESTONE_BRANCH_NAME</name>
          <description></description>
          <defaultValue>14.0.1-ga-build</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKINS_USER</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>JENKINS_PASSWORD</name>
          <description></description>
          <defaultValue>fxdck6F4mmjOygcxKgXaSt8hwuNC0u5lPsdfOHlTfeuKj9GUdAWSuQ7KonpI3OCOQUQ/y/7hUVJoLINl/cMeHw==</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>MODE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>STOP_NIGHTLY_TRIGGER</string>
              <string>CREATE_MILESTONE_JOBS</string>
              <string>DELETE_MILESTONE_JOBS</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKINS_URL</name>
          <description></description>
          <defaultValue>http://${JENKINS_USER}:${JENKINS_PASSWORD}@xap-lab1003:8080</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:Gigaspaces/xap-jenkins.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export FOLDER=&quot;14.0/14.0.1&quot;
export CONTINUOUS_JOB_NAME=&quot;continuous&quot;
export CONTINUOUS_MILESTONE_JOB_NAME=&quot;continuous-milestone&quot;
export RELEASE_JOB_NAME=&quot;release&quot;
export RELEASE_MILESTONE_JOB_NAME=&quot;release-milestone&quot;

export XAP_NEWMAN_HOST=&quot;xap-newman&quot;
export XAP_NEWMAN_USER=&quot;xap&quot;

./jenkins-release/jenkins_milestone.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>