<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BASE_VERSION</name>
          <description></description>
          <defaultValue>14.5.0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CURRENT_VERSION</name>
          <description></description>
          <defaultValue>14.5.0-ga-build</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>YARDSTICK_BRANCH</name>
          <description></description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${YARDSTICK_BRANCH}
INSTANCES_COUNT=5
XAP_VERSION=${BASE_VERSION}
MACHINE_PREFIX=milestone
SEND_EMAIL=false
CLEAR_WORKSPACE=true
DEPLOY=true
INSTALL=true
RUN=false
UPLOAD_RESULTS=false
UNDEPLOY=false
CONFIGS=</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>yardstick</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${YARDSTICK_BRANCH}
INSTANCES_COUNT=2
XAP_VERSION=${BASE_VERSION}
MACHINE_PREFIX=milestone
SEND_EMAIL=true
CLEAR_WORKSPACE=false
DEPLOY=false
INSTALL=false
RUN=true
UPLOAD_RESULTS=true
UNDELPOY=false
MILESTONE_RUN=false
CONFIGS=\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSWriteBenchmark -sn GigaspacesNode -ds base-single-embedded-write-4-t -spn atomic-space --embedded,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSReadByIdBenchmark -sn GigaspacesNode -ds base-single-embedded-read-by-id-4-t -spn atomic-space --embedded,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSTakeByIdBenchmark -sn GigaspacesNode -ds base-single-embedded-take-by-id-4-t -spn atomic-space --embedded,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSWriteBenchmark -sn GigaspacesNode -ds base-single-remote-write -spn atomic-space,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSReadByIdBenchmark -sn GigaspacesNode -ds base-single-remote-read -spn atomic-space,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSTakeByIdBenchmark -sn GigaspacesNode -ds base-single-remote-take -spn atomic-space</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>yardstick</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${YARDSTICK_BRANCH}
INSTANCES_COUNT=2
XAP_VERSION=${CURRENT_VERSION}
MACHINE_PREFIX=milestone
SEND_EMAIL=true
CLEAR_WORKSPACE=false
DEPLOY=false
INSTALL=false
RUN=true
UPLOAD_RESULTS=true
UNDELPOY=false
MILESTONE_RUN=false
CONFIGS=\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSWriteBenchmark -sn GigaspacesNode -ds current-single-embedded-write-4-t -spn atomic-space --embedded,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSReadByIdBenchmark -sn GigaspacesNode -ds current-single-embedded-read-by-id-4-t -spn atomic-space --embedded,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSTakeByIdBenchmark -sn GigaspacesNode -ds current-single-embedded-take-by-id-4-t -spn atomic-space --embedded,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSWriteBenchmark -sn GigaspacesNode -ds current-single-remote-write -spn atomic-space,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSReadByIdBenchmark -sn GigaspacesNode -ds current-single-remote-read -spn atomic-space,\
-r 10000 -b 0 -w 60 -d 300 -t 4 -dn GSTakeByIdBenchmark -sn GigaspacesNode -ds current-single-remote-take -spn atomic-space</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>yardstick</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${YARDSTICK_BRANCH}
INSTANCES_COUNT=5
XAP_VERSION=${CURRENT_VERSION}
MACHINE_PREFIX=milestone
SEND_EMAIL=true
CLEAR_WORKSPACE=false
DEPLOY=false
INSTALL=false
RUN=true
UPLOAD_RESULTS=true
UNDELPOY=false
MILESTONE_RUN=false
CONFIGS=\
-r 10000 -b 1 -w 60 -d 300 -t 4 -dn GSWriteBenchmark -sn GigaspacesNode -ds base-cluster-remote-write -spn atomic-space,\
-r 10000 -b 1 -w 60 -d 300 -t 4 -dn GSReadByIdBenchmark -sn GigaspacesNode -ds base-cluster-remote-read -spn atomic-space,\
-r 10000 -b 1 -w 60 -d 300 -t 4 -dn GSTakeByIdBenchmark -sn GigaspacesNode -ds base-cluster-remote-take -spn atomic-space</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>yardstick</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${YARDSTICK_BRANCH}
INSTANCES_COUNT=5
XAP_VERSION=${CURRENT_VERSION}
MACHINE_PREFIX=milestone
SEND_EMAIL=true
CLEAR_WORKSPACE=false
DEPLOY=false
INSTALL=false
RUN=true
UPLOAD_RESULTS=true
UNDELPOY=true
MILESTONE_RUN=true
CONFIGS=\
-r 10000 -b 1 -w 60 -d 300 -t 4 -dn GSWriteBenchmark -sn GigaspacesNode -ds current-cluster-remote-write -spn atomic-space,\
-r 10000 -b 1 -w 60 -d 300 -t 4 -dn GSReadByIdBenchmark -sn GigaspacesNode -ds current-cluster-remote-read -spn atomic-space,\
-r 10000 -b 1 -w 60 -d 300 -t 4 -dn GSTakeByIdBenchmark -sn GigaspacesNode -ds current-cluster-remote-take -spn atomic-space</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>yardstick</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${YARDSTICK_BRANCH}
INSTANCES_COUNT=5
XAP_VERSION=${BASE_VERSION}
MACHINE_PREFIX=milestone
SEND_EMAIL=false
CLEAR_WORKSPACE=false
DEPLOY=false
INSTALL=false
RUN=false
UPLOAD_RESULTS=false
UNDEPLOY=true
CONFIGS=</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>yardstick</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>