<?xml version='1.0' encoding='UTF-8'?>
<jenkins.branch.OrganizationFolder plugin="branch-api@1.10">
  <actions>
    <org.jenkinsci.plugins.orgfolder.github.GitHubOrgAction plugin="github-organization-folder@1.4">
      <url>https://github.com/giga-dev</url>
      <avatar>https://avatars.githubusercontent.com/u/11980784?v=3</avatar>
    </org.jenkinsci.plugins.orgfolder.github.GitHubOrgAction>
    <org.jenkinsci.plugins.orgfolder.github.GitHubLink plugin="github-organization-folder@1.4">
      <image>logo</image>
      <url>https://github.com/giga-dev</url>
    </org.jenkinsci.plugins.orgfolder.github.GitHubLink>
  </actions>
  <description></description>
  <properties>
    <com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty plugin="cloudbees-folder@5.12">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain plugin="credentials@2.1.4">
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList>
            <com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey plugin="ssh-credentials@1.12">
              <id>9ef287f2-750a-4bb9-926f-78a2b762909d</id>
              <description></description>
              <username>xap-builder</username>
              <passphrase>aHFMNfhuqOo7dFLY09pU9Q==</passphrase>
              <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$UsersPrivateKeySource"/>
            </com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>
          </java.util.concurrent.CopyOnWriteArrayList>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
    <jenkins.branch.NoTriggerOrganizationFolderProperty>
      <branches>.*</branches>
    </jenkins.branch.NoTriggerOrganizationFolderProperty>
  </properties>
  <views>
    <hudson.model.ListView>
      <owner class="jenkins.branch.OrganizationFolder" reference="../../.."/>
      <name>Repositories</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.orgfolder.github.CustomNameJobColumn plugin="github-organization-folder@1.4">
          <bundle>org.jenkinsci.plugins.orgfolder.github.Messages</bundle>
          <key>ListViewColumn.Repository</key>
        </org.jenkinsci.plugins.orgfolder.github.CustomNameJobColumn>
        <org.jenkinsci.plugins.orgfolder.github.RepositoryDescriptionColumn plugin="github-organization-folder@1.4"/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>true</recurse>
    </hudson.model.ListView>
  </views>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <primaryView>Repositories</primaryView>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric plugin="cloudbees-folder@5.12"/>
  </healthMetrics>
  <icon class="org.jenkinsci.plugins.orgfolder.github.GitHubOrgIcon" plugin="github-organization-folder@1.4">
    <folder class="jenkins.branch.OrganizationFolder" reference="../.."/>
  </icon>
  <orphanedItemStrategy class="com.cloudbees.hudson.plugins.folder.computed.DefaultOrphanedItemStrategy" plugin="cloudbees-folder@5.12">
    <pruneDeadBranches>true</pruneDeadBranches>
    <daysToKeep>0</daysToKeep>
    <numToKeep>0</numToKeep>
  </orphanedItemStrategy>
  <triggers/>
  <navigators>
    <org.jenkinsci.plugins.github__branch__source.GitHubSCMNavigator plugin="github-branch-source@1.8.1">
      <repoOwner>giga-dev</repoOwner>
      <checkoutCredentialsId>9ef287f2-750a-4bb9-926f-78a2b762909d</checkoutCredentialsId>
      <pattern>.*</pattern>
      <excludes>refs/pull/*</excludes>
      <buildOriginBranch>true</buildOriginBranch>
      <buildOriginBranchWithPR>true</buildOriginBranchWithPR>
      <buildOriginPRMerge>false</buildOriginPRMerge>
      <buildOriginPRHead>false</buildOriginPRHead>
      <buildForkPRMerge>true</buildForkPRMerge>
      <buildForkPRHead>false</buildForkPRHead>
    </org.jenkinsci.plugins.github__branch__source.GitHubSCMNavigator>
  </navigators>
  <projectFactories>
    <org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProjectFactory plugin="workflow-multibranch@2.8"/>
  </projectFactories>
</jenkins.branch.OrganizationFolder>