<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>1</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>XAP_VERSION</name>
          <description>The maven version of this xap release</description>
          <defaultValue>12.0.0</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>MILESTONE</name>
          <description></description>
          <defaultValue>m5</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>XAP_BUILD_NUMBER</name>
          <description></description>
          <defaultValue>15796</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>The source branch for this xap-release</description>
          <defaultValue>master</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>TAG_NAME</name>
          <description></description>
          <defaultValue>12.0.0-m5-NIGHTLY</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>OVERRIDE_EXISTING_TAG</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEPLOY_ARTIFACTS</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PERFORM_FULL_M2_CLEAN</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>M2</name>
          <description></description>
          <defaultValue>/home/jenkins/.m2_release_xap</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>XAP_WORKSPACE</name>
          <description></description>
          <defaultValue>/var/workspaces/release-xap</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>MODE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>NIGHTLY</string>
              <string>MILESTONE</string>
              <string>GA</string>
              <string>PATCH</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>NEWMAN_TAGS</name>
          <description></description>
          <defaultValue>RELEASE</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -f /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export BRANCH=$BRANCH_NAME&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export RELEASE_VERSION=$FINAL_VERSION&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export XAP_VERSION=$XAP_VERSION&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export MILESTONE=$MILESTONE&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export BUILD_NUMBER=$FINAL_BUILD_NUMBER&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export NEWMAN_TAGS=$NEWMAN_TAGS&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export TAG_NAME=$TAG_NAME&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export OVERRIDE_EXISTING_TAG=$OVERRIDE_EXISTING_TAG&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export DEPLOY_ARTIFACTS=$DEPLOY_ARTIFACTS&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export PERFORM_FULL_M2_CLEAN=$PERFORM_FULL_M2_CLEAN&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export WORKSPACE=$XAP_WORKSPACE&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export M2=$M2&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh
echo &quot;export BUILD_CAUSE=$BUILD_CAUSE&quot; &gt;&gt; /home/jenkins/xap_scripts/release-xap-setenv.sh

export FINAL_BUILD_NUMBER
export TAG_NAME
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/home/jenkins/xap_scripts/release_xap.sh /home/jenkins/xap_scripts/release-xap-setenv.sh</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.30">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BRANCH_NAME=${BRANCH_NAME}
JAVA_BUILD_URL=http://192.168.10.10:80/${XAP_VERSION}/${BRANCH_NAME}/${FINAL_BUILD_NUMBER}/gigaspaces-xap-premium-${XAP_VERSION}-${MILESTONE}-b${FINAL_BUILD_NUMBER}.zip
JAVA_BUILD_FILE=gigaspaces-xap-premium-${XAP_VERSION}-${MILESTONE}-b${FINAL_BUILD_NUMBER}.zip</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>DotNet</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.44">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
        <hudson.plugins.emailext.plugins.trigger.FirstFailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
          <failureCount>1</failureCount>
        </hudson.plugins.emailext.plugins.trigger.FirstFailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>${SCRIPT, template=&quot;xap-release-script-groovy-html.template&quot;}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.0.1">
      <teamDomain></teamDomain>
      <authToken></authToken>
      <buildServerUrl>http://xap-lab1002:8080/</buildServerUrl>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <commitInfoChoice>AUTHORS_AND_TITLES</commitInfoChoice>
      <includeCustomMessage>true</includeCustomMessage>
      <customMessage>Version:${XAP_VERSION} &#xd;
Milestone:${MILESTONE} &#xd;
Build Number: ${FINAL_BUILD_NUMBER}&#xd;
Maven Release Version:${XAP_VERSION}-${MILESTONE} -${FINAL_BUILD_NUMBER}&#xd;
Tag: ${TAG_NAME} &#xd;
Newman Tag: ${NEWMAN_TAGS}&#xd;
XAP Download Link : https://gigaspaces-repository-eu.s3.amazonaws.com/com/gigaspaces/xap-open/${XAP_VERSION}/${XAP_VERSION}-${MILESTONE}-${FINAL_BUILD_NUMBER}/gigaspaces-xap-open-${XAP_VERSION}-${MILESTONE}-b${FINAL_BUILD_NUMBER}.zip&#xd;
XAP Premium Download Link: https://gigaspaces-repository-eu.s3.amazonaws.com/com/gigaspaces/xap/${XAP_VERSION}/${XAP_VERSION}-${MILESTONE}-${FINAL_BUILD_NUMBER}/gigaspaces-xap-premium-${XAP_VERSION}-${MILESTONE}-b${FINAL_BUILD_NUMBER}.zip&#xd;
Docs:https://gigaspaces-repository-eu.s3.amazonaws.com/com/gigaspaces/xap/${XAP_VERSION}/${XAP_VERSION}-${MILESTONE}-${FINAL_BUILD_NUMBER}/xap-javadoc.jar</customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.92.1">
      <info>
        <groovyScriptContent>if (MODE.equals(&apos;NIGHTLY&apos;))
{def map = [FINAL_BUILD_NUMBER:&quot;$XAP_BUILD_NUMBER-$BUILD_NUMBER&quot;, FINAL_VERSION:&quot;$XAP_VERSION-$MILESTONE-$XAP_BUILD_NUMBER-$BUILD_NUMBER&quot;]; return map}

XAP_BUILD_NUMBER = (1 + &quot;$XAP_BUILD_NUMBER&quot;.toInteger()).toString();

if (MODE.equals(&apos;MILESTONE&apos;)){
def map = [FINAL_BUILD_NUMBER:&quot;$XAP_BUILD_NUMBER&quot;, FINAL_VERSION:&quot;$XAP_VERSION-$MILESTONE&quot;]; return map}

if (MODE.equals(&apos;GA&apos;)){
def map = [FINAL_BUILD_NUMBER:&quot;$XAP_BUILD_NUMBER&quot;, FINAL_VERSION:&quot;$XAP_VERSION&quot;]; return map}

if (MODE.equals(&apos;PATCH&apos;)){
def map = [FINAL_BUILD_NUMBER:&quot;$XAP_BUILD_NUMBER&quot;, FINAL_VERSION:&quot;$XAP_VERSION-$XAP_BUILD_NUMBER&quot;]; return map}
</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>